.arraysDv {
  background: #eee6;
  border-radius: 5px;
  box-shadow: 0 1px 2px #ccc;
  .arrayDiv {
    max-height: 4em;
    overflow: auto;
  }
  .redAnchor {
    &, &:visited, &:link {
      color: #e60200 !important;
    }
    &:hover {
      color: red !important;
    }
  }
}

.justify {
  text-align: justify;
}
.jumbotron{
  cursor: pointer;
}
/*region Ripple Effect*/
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  &:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(circle, #000 10%, transparent 10.01%) no-repeat 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s
  }
}

/*endregion*/